.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a3a3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-weight: bold;
  background: 0;
  box-shadow: none;
  border: 4px solid currentColor;
  display: inline-block;
  padding: 0.325em 0.5em;
  margin: 0.5em;
  font-size: 2rem;
  line-height: 1;
  opacity: 0.8;
  transform: scale(1);
  transform-origin: center;
  transition: 300ms transform ease-out, 300ms color ease-out,
    300ms background ease-out, 300ms opacity ease-out;
}

.button:hover {
  opacity: 1;
  transform: scale(1.15);
}

.error {
  padding: 0.5rem;
  background: crimson;
}

.card {
  width: 100%;
  max-width: 450px;
  background: #fff;
  padding: 2.5rem;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.5);
}

.message {
  font-size: 1.5rem;
  line-height: 1.4;
}

.message p {
  margin: 0.5em 0;
}

.message h3 {
  font-size: 2rem;
  margin: 0 0 0.25em;
  color: crimson;
}

.reset-button {
  margin-top: 3em;
  font-size: 1rem;
  border: 0;
  background: #fff;
  color: #222;
}

.Form {
  margin: 1em 0 0;
}

.Form-label {
  display: block;
}

.Form-label span {
  text-align: left;
  font-size: 0.5em;
  white-space: nowrap;
  display: block;
  width: 100%;
  margin-bottom: 0.25em;
}

.Form-label input {
  --boder-size: 1px;
  --padding-size: 0.5em;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: var(--boder-size) solid rgba(109, 109, 109, 0.7);
  font-size: 1em;
  width: calc(100% - (var(--padding-size) * 2) - (var(--boder-size) * 2));
  padding: calc(var(--padding-size) / 2) var(--padding-size);
  margin: 0;
}
